/* FONTS */

@font-face {
    font-family: "iamono";
    src: url("https://www.skaven.cz/css/fonts/iamono.woff2") format("woff2");
}
@font-face {
    font-family: "iaquatro";
    src: url("https://www.skaven.cz/css/fonts/iaquattro.woff2") format("woff2");
    font-weight: 400;
    font-feature-settings: "ss04"; /* běžná nula */
}
@font-face {
    font-family: "iaquatro";
    src: url("https://www.skaven.cz/css/fonts/iaquattro_bold.woff2")
        format("woff2");
    font-weight: 700;
    font-feature-settings: "ss04"; /* běžná nula */
}
@font-face {
    font-family: "iaquatro";
    src: url("https://www.skaven.cz/css/fonts/iaquattro_italic.woff2")
        format("woff2");
    font-style: italic;
    font-feature-settings: "ss04"; /* běžná nula */
}

/* nastavení fontů - proměnné */
:root {
    --heading-font: "iaquatro", sans-serif; /* Font pro nadpisy */
    --body-font: "iaquatro", sans-serif; /* Font pro běžný text */
    --button-font: "iamono", monospace; /* Font na tlačítka */
    --mono-font: "iamono", monospace; /* Font monospace */
    --bullet: "•"; /* Symbol pro odrážku */
    --separator: "/"; /* breadcrumb separator */
}
