/* Toto je obrázek, který zabírá přesně tolik řádků, kolik mu řekneš */

figure {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 24px;
    gap: 0;
}

figure img {
    grid-row: span 30; /* Obrázek zabírá 3 řádky */
    width: 100%; /* Obrázek se přizpůsobí šířce sloupce */
    height: 100%; /* Vyplní výšku zadaných řádků */
    object-fit: cover; /* Zabrání deformaci obrázku */
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem !important;
    background-color: $white;
    border: 1px solid $grey;
}
input[type="checkbox"]:hover {
    border: 1px solid $shrekovka;
}
input[type="checkbox"]:checked:hover {
    background-color: $shrekovka;
}
input[type="checkbox"] {
    border-radius: 3px;
}
input[type="radio"] {
    border-radius: 10px;
}
input[type="checkbox"]:checked {
    border: 0 none;
    background: $shrekovka
        url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.41421 2.24204L0 3.65625L4.24264 7.89889L4.24265 7.89888L4.24271 7.89895L10.5063 1.63541L9.09204 0.221195L4.2427 5.07053L1.41421 2.24204Z' fill='white'/%3E%3C/svg%3E")
        no-repeat center center;
}
input[type="radio"]:checked,
input[type="radio"]:checked:hover {
    border: 1px solid $shrekovka;
    background: $white
        url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%234D7400'/%3E%3C/svg%3E")
        no-repeat center center;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: 1px solid $black;
}
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
    border: 1px solid $grey-lighter;
}
input[type="checkbox"][disabled]:checked {
    background: $grey-lighter
        url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.41421 2.24204L0 3.65625L4.24264 7.89889L4.24265 7.89888L4.24271 7.89895L10.5063 1.63541L9.09204 0.221195L4.2427 5.07053L1.41421 2.24204Z' fill='white'/%3E%3C/svg%3E")
        no-repeat center center;
}
input[type="radio"][disabled]:checked {
    border: 1px solid $grey-lighter;
    background: $white
        url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%23C5C5C5'/%3E%3C/svg%3E")
        no-repeat center center;
}

.example {
    margin: 0 0 var(--baseline) 0;
    padding: calc(var(--baseline) - 1px);
    line-height: var(--baseline);
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    box-sizing: border-box;
    background-color: var(--light);
}
.example > :last-child {
    margin-bottom: 0;
}

/* původní row a col */

.row {
    display: flex;
    flex-wrap: wrap; /* Zalomí sloupce na další řádek */
    gap: var(--baseline); /* Mezera mezi sloupci */
}
.col {
    flex: 1; /* Sloupec zabere stejný podíl místa */
    box-sizing: border-box; /* Správné počítání velikostí */
}

=======

Záloha barev

--black: #000;
--white: #fff;

--grey: #999; /* vhodné pro text */
--light-grey: #e7e7e7; /* zejména bordery, původně #ccc */
--muted: #ddd;
/*--smoke: #eee; */
--snow: #f0f0f0; /* code, tag, progress bar, hodí se na menší plochy */
--light: #f8f8f8; /* callout a neklikatelný button, hodí se na větší plochy */

--red: #eb5757;
--dark-red: #eb3b2f;
--light-red: #fbe4e4; /* Zesvětleno z #f8caca */
--blue: #0077dd;
--dark-blue: #005bb5; /* 0065bb */
--light-blue: #d3ebff; /* Zesvětleno z #a8d8ff */
--yellow: #f5a524;
--dark-yellow: #a16607;
--light-yellow: #fce8c6; /* Zesvětleno z #f9d18f */
--green: #618d0a; /* barva buttonu, shrekovka */
--dark-green: #4d7400; /* barva odkazů, kořenovka */
--light-green: #c9f570; /* zvaž #e2ffa7 – je ještě světlejší, víc do pastelu */

--light-highlight: #ffdd39; /* fff3b1 */
--highlight: #ffd508;
--dark-highlight: #ccaa06;
